
{% extends "layout.html" %}
<!-- NAVBAR {% load socialaccount %}-->
{% load static %}

{% block contenedor %}


<div class="container-fluid px-0">

  <!-- NAVBAR -->

      <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:masaviherramientas@gmail.com">masavi@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:911-6865-3916">911-6865-3916</a>
                </div>
                <div>

                    <a class="text-light" href="https://www.instagram.com/masaviherramientas/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>

                </div>
            </div>
        </div>
    </nav>
  <nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Logo -->
    <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'vistaprevia1' %}">
      MASAVI
    </a>

    <!-- Botón mobile -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#main_nav" aria-controls="main_nav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'vistaprevia1' %}">Home</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
        </li>



      </ul>

      <!-- Íconos derecha -->
      <div class="d-flex align-items-center gap-3">
        <!--
        <a class="nav-icon text-decoration-none text-dark" href="{% provider_login_url 'google' %}">
          <i class="fa fa-fw fa-user"></i>
        </a>
        -->
      </div>

    </div>
  </div>
</nav>


  <!-- CAROUSEL -->
<div class="carousel-wrapper">
  <div id="carouselMain" class="carousel slide carousel-fade carousel-custom mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
{% for producto in productos %}
  <div class="carousel-item {% if forloop.first %}active{% endif %}">
    {% if producto.imagen %}
      <img src="{{ producto.imagen.url }}" class="d-block w-100 carousel-img">
    {% else %}
      <img src="{% static 'img/placeholder.jpg' %}" class="d-block w-100 carousel-img">
    {% endif %}
    <div class="carousel-caption d-none d-md-block carousel-caption-custom">
      <h5>{{ producto.producto }}</h5>
      <p>{{ producto.descripcion|truncatewords:20 }}</p>
    </div>
  </div>
{% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>



<!-- TÍTULO -->
<div class="container my-4">
  <h2 class="text-center fw-bold">🔥 Ofertas especiales</h2>
</div>

<!-- GRID DE CARDS -->
<div class="container my-5">
  <div class="row g-4">
    {% for producto in productos|slice:":6" %}
      {% if producto.destacado %}
        <div class="col-12 col-sm-6 col-lg-4">
    <div class="card h-100 card-custom">
      {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" class="card-img-top card-img-custom">
      {% else %}
        <img src="{% static 'img/placeholder.jpg' %}" class="card-img-top card-img-custom">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ producto.producto }}</h5>
        <p class="card-text">{{ producto.descripcion|truncatewords:15 }}</p>
      </div>
      <div class="card-footer text-end">
        <a href="{% url 'producto_detalle' producto.id %}" class="btn btn-primary btn-sm">Ver más</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

  </div>
</div>

</div>

<footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">MASAVI Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">

                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:911-6865-3916">911-6865-3916</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:masaviherramientas@gmail.com">masavi@company.com</a>
                        </li>
                    </ul>
                </div>

                

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/masaviherramientas/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2025 Masavi
                            | Designed by <a rel="sponsored" href="#" target="_blank">max</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>

{% endblock %}