{% extends "layout.html" %}
{% load static %}

{% block contenedor %}


<div class="container-fluid px-0">

  <!-- NAVBAR -->

      <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">masavi@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">911-6865-3916</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>

                </div>
            </div>
        </div>
    </nav>
  <nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Logo -->
    <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'vistaprevia1' %}">
      MASAVI
    </a>

    <!-- Botón mobile -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#main_nav" aria-controls="main_nav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'vistaprevia1' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Tienda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contactanos</a>
        </li>

      </ul>

      <!-- Íconos derecha -->
      <div class="d-flex align-items-center gap-3">
        <a class="nav-icon text-decoration-none text-dark" href="#">
          <i class="fa fa-fw fa-search"></i>
        </a>
        <a class="nav-icon text-decoration-none text-dark" href="#">
          <i class="fa fa-fw fa-cart-arrow-down"></i>
        </a>
        <a class="nav-icon text-decoration-none text-dark" href="#">
          <i class="fa fa-fw fa-user"></i>
        </a>
      </div>

    </div>
  </div>
</nav>


  <!-- CAROUSEL -->
<div class="carousel-wrapper">
  <div id="carouselMain" class="carousel slide carousel-fade carousel-custom mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for producto in productos %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ producto.imagen.url }}" class="d-block w-100 carousel-img">
        <div class="carousel-caption d-none d-md-block carousel-caption-custom">
          <h5>{{ producto.producto }}</h5>
          <p>{{ producto.descripcion|truncatewords:20 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>



<!-- TÍTULO -->
<div class="container my-4">
  <h2 class="text-center fw-bold">🔥 Ofertas especiales</h2>
</div>

<!-- GRID DE CARDS -->
<div class="container my-5">
  <div class="row g-4">
    {% for producto in productos|slice:":6" %}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card h-100 card-custom">
          <img src="{{ producto.imagen.url }}" class="card-img-top card-img-custom">
          <div class="card-body">
            <h5 class="card-title">{{ producto.producto }}</h5>
            <p class="card-text">{{ producto.descripcion|truncatewords:15 }}</p>
          </div>
          <div class="card-footer text-end">
            <a href="#" class="btn btn-primary btn-sm">Ver más</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

</div>

{% endblock %}