{% extends "layout.html" %}
{% load static %}

{% block contenedor %}


<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" href="{% url 'vistaprevia1' %}">Mi Tienda</a>
    </div>
</nav>

<div class="container py-5">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-lg-3">
            <h4>Categorías</h4>
            <ul class="list-group">
                {% for categoria in categorias %}
                    <li class="list-group-item">{{ categoria }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Productos -->
        <div class="col-lg-9">
            <div class="row">

                {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ producto.producto }}</h5>
                            <p class="card-text">{{ producto.descripcion|truncatewords:10 }}</p>
                            <p class="fw-bold">${{ producto.precio }}</p>
                            <a href="{% url 'producto_detalle' producto.id %}" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No hay productos cargados.</p>
                {% endfor %}

            </div>
        </div>

    </div>
</div>



{% endblock %}