        .parrafo{background-color: red;}
        .parrafo2{background-color:rgb(68, 27, 216);}
        .midisplay{
           
            width: 120px;
            height: 120px;
        }

        .div{
            position: relative;
            width: 70px;
            height: 70px;
            background-color: aqua;
            border: solid 2px orangered;
        }
        .button {   
            width: 300px;
            height: 120px;
            border: 10px ridge rgba(100, 100, 100, 1);
            border-radius: 36px;
            background: conic-gradient(
                from 45deg at 11% 50%,
                rgba(15, 37, 110, 1) 12deg,
                rgba(32, 178, 7, 1) 84deg
            );
            background-blend-mode: normal;
            box-shadow: 23px 24px 28px 25px rgba(125, 109, 109, 0.3);}
        .button:hover{


                box-shadow: 10px 10px 10px 10px rgba(125, 109, 109, 0.3);}